#notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  max-width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: visibility 0s, opacity 0.5s linear; //não funcionou
}

.success {
  color: green;
}

.error {
  color: red;
}
