<div>

  <app-notification *ngFor="let notification of notifications$ | async" [notification]="notification"></app-notification>

  <h2>Adicionar Contato</h2>
  <form (ngSubmit)="adicionarContato()" #contatoForm="ngForm">
    <label for="nome">Nome:</label>
    <input [(ngModel)]="novoContato['nome']" id="nome" name="nome" placeholder="Nome">

    <label for="email">Email:</label>
    <input [(ngModel)]="novoContato.email" type="email" id="email" name="email" placeholder="Email">

    <label for="telefone">Telefone:</label>
    <input [(ngModel)]="novoContato['telefone']" type="tel" id="telefone" name="telefone" placeholder="Telefone"
           mask="(00) 0000-00000">

    <label for="dataNascimento">Data de Nascimento:</label>
    <input [(ngModel)]="novoContato['dataNascimento']" type="date" id="dataNascimento" name="dataNascimento"
           placeholder="Data de Nascimento">

    <label for="cpf">CPF:</label>
    <input [(ngModel)]="novoContato['cpf']" id="cpf" type="text" name="cpf" placeholder="CPF"
           mask="000.000.000-00" >

    <label for="cnpj">CNPJ:</label>
    <input [(ngModel)]="novoContato['cnpj']" id="cnpj" name="cnpj" placeholder="CNPJ"
           mask="00.000.000/0000-00">

    <label for="cep">CEP:</label>
    <input [(ngModel)]="novoContato['cep']" id="cep" type="text" name="cep" placeholder="Digite o CEP"
           mask="00000-000">
    <button (click)="buscarCep($event)">Buscar</button>
    <br/>
    <br/>

    <label for="logradouro">Endereço:</label>
    <input [(ngModel)]="novoContato['logradouro']" id="logradouro" name="logradouro" placeholder="Logradouro">

    <label for="numero">Número:</label>
    <input [(ngModel)]="novoContato['numero']" id="numero" name="numero" placeholder="Número">

    <label for="complemento">Complemento:</label>
    <input [(ngModel)]="novoContato['complemento']" id="complemento" name="complemento" placeholder="Complemento">

    <label for="bairro">Bairro:</label>
    <input [(ngModel)]="novoContato['bairro']" id="bairro" name="bairro" placeholder="Bairro">

    <label for="localidade">Localidade:</label>
    <input [(ngModel)]="novoContato['localidade']" id="localidade" name="localidade" placeholder="Localidade">

    <label for="uf">UF:</label>
    <input [(ngModel)]="novoContato['uf']" id="uf" name="uf" placeholder="UF">

    <br/>
    <br/>
    <button type="submit">Salvar</button>
    <button [routerLink]="'/lista-contatos'">Voltar para Lista</button>
  </form>
</div>
